<div>
	<label for="name">Figurine name</label>
	<input type="text" name="name" ng-model="figurine.name">
</div>

<div>
	<label for="description">Figurine description</label>
	<input type="text" name="description" ng-model="figurine.inventorydescription">
</div>

<div>
	<label for="height">Figurine height</label>
	<input type="text" name="height" ng-model="figurine.height">
</div>

<div>
	<label for="weight">Figurine weight</label>
	<input type="text" name="weight" ng-model="figurine.weight">
</div>

<div>
	<label for="price">Figurine price</label>
	<input type="text" name="price" ng-model="figurine.price">
</div>

<div>
	<label for="quality">Figurine quality</label>
	<input type="text" name="quality" ng-model="figurine.quality">
</div>

<div>
	<label for="quantity">Figurine quantity</label>
	<input type="text" name="quantity" ng-model="figurine.quantity">
</div>

<div>
	<label for="year">Figurine year</label>
	<input type="text" name="year" ng-model="figurine.year">
</div>

<button ng-click='createFigurine()'>Sell your Figurine</button>